<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Ship</title>
</head>
<body>

    <h2>Formulaire de Création de Vaisseau</h2>

    <form action="#" th:action="@{/ships/new}" th:object="${ship}" method="post">
        
        <label for="status">Statut :</label>
        <select id="status" th:field="*{status}">
            <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}">Status</option>
        </select>
        <br><br>

        <label for="model">Modèle :</label>
        <select id="model" th:field="*{model}">
            <option th:each="vehicule : ${vehicules}" th:value="${vehicule.id}" th:text="${vehicule.name}">Model</option>
        </select>
        <br><br>

        <button type="submit">Créer le Vaisseau</button>
    </form>

</body>
</html>
