<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div th:replace="~{header :: header}"></div>
    <main>
        <h1>Welcome to the the Rebel Alliance chief !</h1>
        <p>Don't hesitate to look up to see missions up, shut them down or add some,
            and the same for ships, models and our pilots !
            May the Force be with you !
        </p>
    </main>
</body>
</html>
