<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pilots</title>
    <script th:src="@{/js/selectMissionPilot.js}" defer></script>
</head>
<body>
    <div th:replace="~{header :: header}"></div>    
    <main>
        <form action="/missions/new" method="get">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="${title}" required>

            <label for="description">Description</label>
            <textarea id="description" name="description" required>${description}</textarea>

            <label>Mission Type:</label>
            <input type="radio" id="training" name="type" value="_TRAINING">
            <label for="training">Training</label>
            <input type="radio" id="battle" name="type" value="_BATTLE">
            <label for="battle">Battle</label>

            <div>

                    <th:block th:each="activity : ${missionActivities}">
                        <div>
                            <p>Pilot: <span th:text="${activity.pilot.lastname} + ' ' + ${activity.pilot.firstname}"></span> - 
                            Ship: <span th:text="${activity.ship.model.name}"></span></p>
                        </div>
                    </th:block>

            </div>

            <div>
                <label for="pilot">Pilot</label>
                <select th:if="operationalPilots != null" name="idPilot">
                    <th:block th:each="pilot : ${operationalPilots}">
                        <option th:value="${pilot.id}" th:text="${pilot.lastname} + ' - ' + ${pilot.firstname}"></option>
                    </th:block>
                </select>

                <label for="ship">Ship</label>
                <select name="idShip">
                    <th:block th:each="ship : ${operationalShips}">
                        <option th:value="${ship.id}" th:text="${ship.id} + ' - ' + ${ship.model.name}"></option>
                    </th:block>
                </select>
            </div>

            <button type="submit" name="action" value="addPilot">Add pilot</button>
            <button type="submit" name="action" value="submitMission">Create mission</button>
        </form>
    </main>
</body>
</html>
