<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pilots</title>
    <script th:src="@{/js/selectMissionPilot.js}" defer></script>
</head>

<body>
    <main></main>
    <form action="/missions/save" method="post">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Description</label>
        <textarea id="description" name="description" required></textarea>

        <label>Mission Type:</label>
        <input type="radio" id="training" name="type" value="TRAINING" onclick="selectTraining(event)">
        <label for="training">Training</label>
        <input type="radio" id="battle" name="type" value="BATTLE" onclick="selectBattle(event)">
        <label for="battle">Battle</label>

        <label for="pilot">Pilot</label>
        <select id="pilot" name="pilotId">
            <th:block th:each="pilot : ${operationalPilots}">
                <option th:value="${pilot.id}" th:text="'${pilot.lastname}' + '${pilot.firstname}'"
                    th:attr="rank=${pilot.rank}"></option>
            </th:block>
        </select>

        <label for="ship">Ship</label>
        <select id="ship" name="shipId">
            <th:block th:each="ship : ${operationalShips}">
                <option th:value="${ship.id}" th:text="${ship.model.name}"></option>
            </th:block>
        </select>

        <button type="submit">OK</button>
    </form>

</body>