<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Missions Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div th:replace="~{header :: header}"></div>
    <main>
    <table>
        <thead>
            <tr>
                <th>On-going</th>
                <th>Succeded</th>
                <th>Failure</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!-- Liste des missions en cours -->
                    <ul>
                        <li th:each="mission : ${ongoingMissions}">
                            <a th:href="@{/missions/{id}(id=${mission.id})}" th:text="${mission.name}">Mission Name</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <!-- Liste des missions réussies -->
                    <ul>
                        <li th:each="mission : ${succededMissions}">
                            <a th:href="@{/missions/{id}(id=${mission.id})}" th:text="${mission.name}">Mission Name</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <!-- Liste des missions ratées -->
                    <ul>
                        <li th:each="mission : ${failureMissions}">
                            <a th:href="@{/missions/{id}(id=${mission.id})}" th:text="${mission.name}">Mission Name</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</main>
</body>
</html>
